<!DOCTYPE html>
<html>

<head>
  <title> Digital House Barber </title>
  <link rel='stylesheet' href='/stylesheets/global.css' />
  <link rel='stylesheet' href='/stylesheets/home.css' />
</head>

<body>
  <header>

    <div class="logo">
      <img src="/images/scissors.png" alt="">
      <p>Digital Barber</p>
    </div>

    <div class="login">
      <a href="/login"><button >LOGIN</button></a>
    </div>
  </header>
  <main>

    <div id="intro">
      <img src="/images/intro.jpg" alt="">
      <div id="intro-text">
        <p class="title">Digital Barber</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem laborum quia commodi impedit excepturi repudiandae dolor reprehenderit? Adipisci iste nihil et dignissimos provident, necessitatibus ipsa beatae, deleniti minus hic accusamus.</p>
      </div>
    </div>

    <div id="plans">
      <div class="title">Planos</div>
      <div id="plans-display">
        <div class="sqr-display">
          <img class="plan-pic" src="/images/hair-clipper.png" alt="">
          <p>acabamento</p>
        </div>
        <div class="sqr-display">
          <img class="plan-pic" src="/images/razor.png" alt="">
          <p>barba</p>
        </div>
        <div class="sqr-display">
          <img class="plan-pic" src="/images/scissors2.png" alt="">
          <p>corte</p>
        </div>
        
      </div>
    </div>

    <div id="comments">
      <div class="title">Depoimentos</div>
      <div id="comments-display">
        <div class="sqr-display-cm">
          <div class="pic"><img src="https://picsum.photos/seed/1/200/300" alt=""></div>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit deleniti, natus quod optio error ex odio accusantium, nam, libero aperiam quasi accusamus fugiat dolorem perspiciatis amet quas tempora? Quisquam, quo!</p>
        </div>
        <div class="sqr-display-cm">
          <div class="pic"><img src="https://picsum.photos/seed/2/200/300" alt=""></div>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit deleniti, natus quod optio error ex odio accusantium, nam, libero aperiam quasi accusamus fugiat dolorem perspiciatis amet quas tempora? Quisquam, quo!</p>
        </div>
        <div class="sqr-display-cm">
          <div class="pic"><img src="https://picsum.photos/seed/3/200/300" alt=""></div>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit deleniti, natus quod optio error ex odio accusantium, nam, libero aperiam quasi accusamus fugiat dolorem perspiciatis amet quas tempora? Quisquam, quo!</p>
        </div>
      </div>
    </div>
  </main>
</body>

</html>