<!DOCTYPE html>
<html>

<head>
  <title> Digital Berber </title>
  <link rel='stylesheet' href='/stylesheets/global.css' />
  <link rel='stylesheet' href='/stylesheets/home.css' />

</head>

<body>
  <h1> Digital Barber </h1>
</body>

</html>